@using LMS.Shared.DTOs.Activity

<div class="flex flex-col gap-3">

    @foreach (var activity in Activities)
    {
        <ActivityCard Activity="activity" />
    }

</div>

@code {
    [Parameter] public IEnumerable<ActivityDto> Activities { get; set; } = [];
}