@using Microsoft.AspNetCore.Identity
@using LMS.Blazor.Data

@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav nav-pills flex-column">
    <AuthorizeView Roles="Teacher">
        <Authorized>
            <li class="nav-item">
                <NavLink class="nav-link" href="/admin">Dashboard</NavLink>
            </li>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="Student">
        <Authorized>
            <li class="nav-item">
                <NavLink class="nav-link" href="/student/overview">Dashboard</NavLink>
            </li>
        </Authorized>
    </AuthorizeView>
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.All">Profile</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/Email">Email</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/ChangePassword">Password</NavLink>
    </li>
</ul>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
